body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    margin-bottom: 40px;
}

input[type="file"] {
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #4caf50;
}

a:hover {
    text-decoration: underline;
}